<div id="map" style="width: 100%; height: 550px; max-height: 90vh;"></div>

<% content_for(:after_js) do %>
  <script>
    //<![CDATA[
    $(document).ready(function(){
      mapWithDirectionsAndMarkers(<%= competitions.to_json %>, <%= markers.to_json %>)
    })
    //]]>
  </script>
<% end %>
