<footer class="bg-dark-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        SOMEWHEREXPRESS
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        EST. 2012
      </div>
    </div>
  </div>
</footer>
