<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">
    <% link_to "/", class: "white-link" do %>
      <i class="icomoon icon-se_logo navbar-wagon-logo"></i>
    <% end %>

    <div class="navbar-wagon-pusher"></div>

    <% link_to "/competitions", class: "navbar-wagon-item navbar-wagon-link text-center" do %>
      <span class="visible-xs-block"><i class="fa fa-map-signs"></i></span>
      Compétitions
    <% end %>
    <hr>
    <% link_to "/users", class: "navbar-wagon-item navbar-wagon-link text-center" do %>
      <span class="visible-xs-block"><i class="icomoon icon-laurel"></i></span>
      Hall of Fame
    <% end %>
  </div>
</nav>
