---
title: Hall of Fame
description: "Hall of Fame de Somewherexpress: tous les trophées obtenus par les membres de Somewherexpress. Somewherexpress est un collectif d'autostoppeurs basé en Suisse Romande. Nous organisons chaque année des compétitions d'autostop par équipe à travers l'Europe. Rejoins-nous!"
layout: application
---

<div class="container padded-mini">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="head-icon text-center"><i class="icomoon icon-laurel"></i></div>
      <h1>Hall of Fame</h1>
      <div class="panel panel-default">
        <table class="table">
          <tbody>
            <% data.users.each do |user| %>
              <%= partial 'partials/users/hall_of_fame_row', locals: { user: user } %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
